.app__title {
  color: wheat;
  position: relative;
  text-align: center;
  transition: color 0.3s;
}

.app__title:hover {
  animation: flicker 1s infinite;
}

@keyframes flicker {

  25% {
    color: #d8d84f;
  }

  50% {
    color: #7ec456;
  }

  75% {
    color: #f2ffc5;
  }

  100% {
    color: #fbfbfd;
  }
}
